
/* Page Body */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(90deg, rgba(2,20,32,1) 0%, rgba(3,30,45,1) 48%, rgba(3,28,42,1) 100%);
    min-height: 95vh;
    font-family: 'Mukta Malar', Arial;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 31% 31% 31%;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

/* Instructions part */

.instructions{
    background-color: rgb(246, 246, 246);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 670px;
}

.model p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.instructions img{
    width: 90%;
    margin-bottom: 5px;
    height: 200px;
    margin-left: 5%;
}

.project h3{
    margin-top: 40px;
    margin-bottom: 30px;
}

.project {
    transform: translateX(-20px);
}
/* graphs part */

.graphs{
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 20px;
    min-height: 670px;
}

.graphs p{
    /* margin-left: 0%; */
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.graphs img{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 5px;
    height: 420px;
}



/* mfcc and app part */

/* mfcc graph */
.spectral_container{
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.spectral_container img{
    width: 100%;
    height: 250px;
}

.spectral_container p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Main App */
.main_app{
    /* width: 100%; */
    background-color: rgb(246, 246, 246);
    padding: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 55% 50%;
    flex-direction: row;
    align-items: center;
}

/* Recorder part */
.recorder{
    margin-top: 0px;
    transform: translateX(-10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recorder h2{
    margin-bottom: 30px;
    text-align: center;
    /* margin-left: -20px; */
}

.controllers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Recording Button */

#startRecordingButton{
    border: none;
    background: none;
    margin-bottom: 10px;
}

.activate {
    /* width: 150px;
    height: 20px; */
    display: table;
    background: #5628ee;
    box-shadow: 0 4px 20px rgba(86, 40, 238, .15);
    line-height: 20px;
    padding: 12px;
    border-radius: 22px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.activate span {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 4px 0 0;
    position: relative;
    overflow: hidden;
}
.activate span:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #5628ee;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease, background 0.3s ease;
}
.activate span svg {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    z-index: 1;
}
.activate span svg:nth-child(1) {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    fill: none;
    margin: 0;
    stroke: #fff;
    stroke-width: 1px;
    stroke-dashoffset: 94.248;
    stroke-dasharray: 47.124;
}
.activate span svg:nth-child(2) {
    fill: #5628ee;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.activate span svg:nth-child(3) {
    fill: #5628ee;
    transform: translateY(20px);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
}
.activate:hover {
    box-shadow: 0 3px 24px rgba(86, 40, 238, .5);
}

/* .activate:hover span svg:nth-child(2) {
    transform: translateY(-20px);
} */
/* .activate:hover span svg:nth-child(3) {
    transform: translateY(0);
} */

.activate:active {
    transform: scale(0.94);
    box-shadow: 0 4px 16px rgba(63, 220, 117, .18);
}
.activate.loading span {
    background: none;
    transition: background 0.1s ease 0.3s;
}
.activate.loading span:before {
    transform: scale(1);
}
.activate.loading span svg:nth-child(1) {
    animation: turn 1.6s linear infinite forwards, path 1.6s linear infinite forwards;
}
.activate.loading span svg:nth-child(2) {
    transform: translateY(-20px);
}
.activate.loading span svg:nth-child(3) {
    opacity: 0;
    transform: translateY(0) scale(0.6);
}
.activate.loading ul {
    transform: rotateX(90deg);
}
.activate.loading.done {
    background: #19a94b;
    box-shadow: 0 4px 20px rgba(63, 220, 117, .15);
}
.activate.loading.done span {
    background: #fff;
    transition: background 0.1s ease 0s;
}
.activate.loading.done span:before {
    background: #19a94b;
    transform: scale(0);
}
.activate.loading.done span svg:nth-child(1) {
    animation: none;
}
.activate.loading.done span svg:nth-child(3) {
    fill: #19a94b;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity 0.4s ease 0.25s;
}
.activate.loading.done ul {
    transform: rotateX(180deg);
}
.activate ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 20px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}
.activate ul li {
    --rotateX: 0deg;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transform-origin: 50% 50%;
    transform: rotateX(var(--rotateX)) translateZ(10px);
}
.activate ul li:nth-child(2) {
    --rotateX: -90deg;
}
.activate ul li:nth-child(3) {
    --rotateX: -180deg;
}

@keyframes turn {
    100% {
        transform: rotate(360deg);
}
}
@keyframes path {
    100% {
        stroke-dashoffset: 0;
}
}

/* Closes button */
#closeButton{
    margin-left: 2px;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(33, 23, 64, .15);
    padding: 14px 15px;
    border-radius: 22px;
    border: none;
    color: #fff;
    background: #2a2a32;
    font-weight: 500;
    transition: box-shadow 0.3s ease;
}

#closeButton:hover {
    box-shadow: 0 3px 24px rgba(33, 23, 64, 0.5);
}

/* Door */

.door img{
    width: 115%;
    height: 250px;
    /* transform: translateX(30%); */
}

/* animations and responses */
.alter_text{
    min-height: 250.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.alter_text2{
    min-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.alter-collapse{
    max-height: 0px;
    visibility: collapse;
}

.btn-disabled{
    pointer-events: none;
}

.collapse{
    visibility: collapse;    
}

.failed {
    margin-left: 20px;
    color: rgb(246, 40, 40);
}

.success {
    color: #19a94b;
}